/*  PennApps  2015 WebMiner CSS   */

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {

    overflow-x: hidden;
    font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-image: url(http://i.imgur.com/EK9W4WS.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-size: 100% 100%; /* w3 spec - no browser supports it yet */
    -moz-background-size: 100% 100%; /* used for firefox */
    -o-background-size: 100% 100%; /* used for opera */
    -webkit-background-size: 100% 100%; /* used for safari and chrome */
}


.text-muted {
    color: #777;
}

.text-primary {
    color: #0052CC;
}

p {
    font-size: 14px;
    line-height: 1.75;
}

p.large {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

a {
    color: #33CCFF;
}

a:hover,
a:focus,
a:active,
a.active {
    color: #3399FF;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Inconsolata,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.img-centered {
    margin: 0 auto;
}

.bg-light-gray {
    background-color: #f7f7f7;
}

.bg-darkest-gray {
    background-color: #222;
}

.btn-primary {
    border-color: #33CCFF;
    text-transform: uppercase;
    font-family: Inconsolata,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #fff;
    background-color: #33CCFF;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    border-color: #2EB8E6;
    color: #fff;
    background-color: #2EB8E6;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #33CCFF;
    background-color: #33CCFF; 
}

.btn-primary .badge {
    color: #33CCFF;
    background-color: #fff;
}

.btn-md {
    padding: 10px 20px;
    border-color: #33CCFF;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: Inconsolata,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    background-color: #33CCFF;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    border-color: #29A6CF;
    color: #fff;
    background-color: #2EB8E6;
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none;
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    border-color: #33CCFF;
    background-color: #33CCFF;
}

.btn-xl .badge {
    color: #33CCFF;
    background-color: #fff;
}

.navbar-default {
    border-color: transparent;
    background-color: #222;
}

.navbar-default .navbar-brand {
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    color: #33CCFF;
}

.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,.02);
}

.navbar-default .navbar-toggle {
    border-color: #33CCFF;
    background-color: #33CCFF;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #33CCFF;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: Inconsolata,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #8D8D8D;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #0052CC;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #0052CC;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #0052CC;
}

@media(min-width:768px) {
    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }

header {
    text-align: center;
    color: #000;
    background-attachment: scroll;
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}

.connectedNum {
    position: absolute;
    left: 50px;
    margin-bottom: 10px;
    font-family: Inconsolata,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 75px;
}

@media(min-width:768px) {
    header .intro-text {
        padding-top: 300px;
        padding-bottom: 10px;
    }

    header .intro-text .intro-heading {
        margin-bottom: 10px;
        font-family: Inconsolata,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
    }

}

section#dropdown {
    margin: 0 auto;
}

section#dataGrid {
    outline: 1px solid orange;
    margin-left:25%;
    margin-right:25%;
}

section {
    padding: 20px 0;
}

section h1.section-heading {
	 margin-top: 10px;
    margin-bottom: 40px;
    font-size: 100px;
}


section h2.section-heading {
     margin-top: 10px;
    font-size: 20px;
}
section#balanceHolder {
    position: absolute;
    transform: translate(-50%, 0%);
    font-size: 14px;
    left: 50%;
    top: 50%;
    text-transform: uppercase;
    font-family: Inconsolata,"Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: 1px;
    color: #8D8D8D;
}


.service-heading {
    margin: 15px 0;
    text-transform: none;
}

 span, p {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
input[type="reset"] {
    display: block;
    border: 1px solid pink;
    background: maroon;
    color: white;
    padding: 5px;
    margin: 5px;
    font-family: sans;
}
p {
    float: center;
    clear: center;
    overflow: hidden;
    display: table-row;
}
label {
    width: 100%;
    font-size: 200%;
    font-weight: bold;
}
input[type="checkbox"], input[type="radio"] {
    border: none;
    background: transparent;
    display: none;
}
input[type="checkbox"] ~ span, input[type="radio"] ~ span {
    display: block;
    float: center;
    clear: center;
}
input[type="checkbox"]:not(:checked) ~ span, input[type="radio"]:not(:checked) ~ span {
    opacity: 0;
    height: 0;
}
input[type="checkbox"]:checked ~ span, input[type="radio"]:checked ~ span {
    opacity: 1;
    height: auto;
}

/*Footer*/
footer {
    padding: 25px 0;
    position: absolute;
    bottom: 0;
    text-align: center;
}


footer ul.quicklinks {
    margin-bottom: 0;
    font-size: 18px;
    margin-left:120px;
    text-transform: uppercase;
    text-transform: none;
    font-family: Inconsolata,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}

#content {
    position: relative;
}
#content img {
    position: absolute;
    top: 0px;
    left: 0px;
}


.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0;
}