extends layout

block content
 body
  // Header
  .project-header.text-center(style="margin-top: -30px;")
    h1
      br
      | About
  // Overview
  .page-header
    h3 Overview
  p
    | CM4D is a crowd-sourcing web application that works on almost every device. In exchance for using your Internet bandwidth, CM4D performs computations and gives you Bit Coins in return.
  // Implementation
  .page-header
    h3 Implementation
  p
    | Built on the real developer lanaguage stack, we utilized in addition mongodb and express. Through sockets, a master can communicate and deploy a job outward to the slaves in exchange for a rate. Simultaneously, users will perform the master's calculations and receive Bit Coins automatically for their services.