extends layout

block content
	// Header
	header
		.container
			.intro-text.text-center
				.yungLogo
					img(src='/frontend/img/logo.png', height='100px')
				.col-md-12
					h1.intro-heading
						span#badge 0.00000000
						|  M-BTC Earned!
		// Dropdown
		section.text-center
			a#detailsBtn.btn.btn-sm.btn-primary Details for nerds
			br
			#detailsData.well(style="display: none;")
				table.table.table-condensed.small
					thead
						tr#dataGridHead
							th(style="width:50%") Job
							th(style="width:25%") Status
							th(style="width:25%") Time
					tbody#detailsBody
						tr#dataGridPlaceholder
							td ---
							td ---
							td ---
		.pausePlay
			button.fa.fa-play.fa-2x.btn.btn-default


block scripts
	script.
		$(startMining);
