extends layout

block content
	// Header
	header
		.container
			.intro-text
				.col-md-12
					.intro-heading.pull-center.fixed
						span#badge 0.00000000
						|  M-BTC Earned!
	// Dropdown
	section#dropdown
		.text-center
			form#multiples(onsubmit='return false;')
				input#one2(type='checkbox', name='easy')
				label(for='one2')
					a.btn-md.btn-primary Details
				p
					br
				.quietCounter
					span#holder 0
				span#detailsData
					section#dataGrid
						.row#dataGridHead
							.col-md-6
								h2.section-heading Job
							.col-md-3
								h2.section-heading Status
							.col-md-3
								h2.section-heading Time
							.line
						.row#dataGridPlaceholder
							.line
							.col-md-6 ---
							.col-md-3 ---
							.col-md-3 ---

block scripts
	script.
		$(startMining);
