doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/login.css')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
		link(rel='shortcut icon', href='/frontend/img/bitcoin.ico')
		// Bootstrap Core CSS
		link(href='/frontend/css/bootstrap.min.css', rel='stylesheet')
		// Custom CSS
		link(href='/frontend/css/background.css', rel='stylesheet')
		// Custom Fonts
		link(href='/frontend/font-awesome-4.1.0/css/font-awesome.min.css', rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Inconsolata:400,700', rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Kaushan+Script', rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic', rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')
	// Navigation
	body()
		// Navigation
		nav.navbar.navbar-default
			.container
				.navbar-header.page-scroll
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar              
				#bs-example-navbar-collapse-1.collapse.navbar-collapse
					ul.nav.navbar-nav.navbar-left
						li
							a Currently Connected Users: 
								span#users -
					// /.navbar-collapse
					ul.nav.navbar-nav.navbar-right
						li.hidden
							a(href='#page-top')
						if locals.user
							li
								a(href='/home') Current Balance: 
									span#balance #{user.bitCoin.toFixed(10)}
									| BTC
							li
								a(href='/deploy') Deploy
							li
								a(href='/signout') Sign Out
						else
							li
								a(href='/login') Login/Sign Up
						li
							a(href='/about') About
						li
							a(href='/run') Home
					// /.navbar-collapse
		.container
			block content

		// jQuery
		script(src='/frontend/js/jquery.js')
		// Bootstrap Core JavaScript
		script(src='/frontend/js/bootstrap.min.js')
		// Plugin JavaScript
		script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')
		script(src='/frontend/js/classie.js')
		script(src='/frontend/js/cbpAnimatedHeader.js')
		// Custom Theme JavaScript
		script(src='/frontend/js/background.js')
		// Transitions!
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
		script(src='/frontend/js/jquery.dlmenu.js')
	
		// Actual client execution
		script(src='/socket.io/socket.io.js')
		script(src='/scripts/client.js')

		block scripts
